* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #a6d0ed;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
h1{
  color: rgb(255, 0, 0)
}
h2{
  color: rgb(14, 70, 72);
}
#countdown {
    font-size: 3em;
    font-weight: bold;
    color: #000;
}

