body{
  margin: 0;
  padding: 0;
}

.menu{
  padding: 17px 0px 16px 2px;
  width: 500px;
  margin: 5px auto;
  align-items: center;
}
.menu a{
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px 18px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  font-family: "Moderustic", sans-serif;
}
.a{
  margin-left: 9px;
}
.menu a:hover{
  background-color: #333;
  color: white;
}
header img{
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-color: black;
  border-style: solid ;
  border-width: 4px;
  margin-bottom: 20px;
}
.sector1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 450px;
  margin: 5px auto;
  border-color: black;
  border-style: solid;
  font-size: 15px;
  font-family: "Moderustic", sans-serif;
}
.tareas {
  font-size: 16px;
  list-style: none; /* Alinea el contenido a la izquierda dentro del contenedor flex */
  border-color: black;
  border-style: solid;
  padding: 10px;
}

ul li{
  font-weight: bold;
}
.sector1 img{
  border-color: black;
  border-style: solid;
}


.draggable {
  width: 300px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 22px;
  left: 100px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Moderustic", sans-serif;
}

.window-header {
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: move;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Moderustic", sans-serif;
}

#toggle-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#toggle-button:hover {
  background-color: #777;
}

.window-content {
  padding: 10px;
  height: calc(100% - 40px);
  overflow-y: auto;
  display: block;
}

.window-content img {
  width: 100%;
  margin-bottom: 10px;
}

.hidden-content {
  display: none;
}
.music-player {
  width: 300px;
  padding: 10px;
  border: 2px solid black;
  background-color: white;
  margin: 20px auto;
  text-align: center;
  font-family: "Moderustic", sans-serif;
  position: absolute; /* Ensure the div can be moved */
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.controls {
  margin: 10px 0;
}

.control-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
}

.control-button:hover {
  background-color: #777;
}

.track-info {
  margin-top: 10px;
  font-size: 16px;
}
.draggable2 {
  top: 22px;
  display: block;
  left: 70%;
  position: absolute;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 1000;
  width: 300px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  font-family: "Moderustic", sans-serif;
  
}

.window-header2 {
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: move;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Moderustic", sans-serif;
}
.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 250px;
  margin: 20px auto;

}

.audio-player audio {
  width: 100%;
  outline: none;
}

.audio-player button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;

}

.audio-player button:hover {
  background-color: #555;
}

body.no-scroll {
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid black;
  z-index: 1000;
  font-family: "Moderustic", sans-serif;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.popup h2 {
  margin-top: 50%;


}

.popup p {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 15px;
}

.popup button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .draggable2 {
    display: none;
    
  }
  .draggable {
    display: none;

  }
}
/* Personaliza los controles de audio */
